h1 {
  font-size: 50px;
  font-weight: 600;
}

h2 {
  font-size: 30px;
  font-weight: 400;
  margin-top: 15px;
}

form {
  padding: 40px;
  font-size: 18px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.caps {
  text-transform: capitalize;
}
